*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-align: center; */
    background-color: #add8e6;
    scroll-padding-top: 80px;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
html{
    scroll-behavior: smooth;
}
.siteLogo{
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.siteLogo:hover{
    opacity: 0.8;
}
.siteHeader{
    display: flex;
    font-size: 30px;
    text-decoration: none;
    color: #666666;
    align-items: center;
}
.StStop{
    /* デザイン追加部分 */
    position: relative;
    width: 250px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
}
/* カード一覧目次部分 */
.StSCardTop{
    /* デザイン追加部分 */
    position: relative;
    width: 350px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
}
.StSCardTop .box-title{
    /* デザイン追加部分 */
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.StStop .box-title{
    /* デザイン追加部分 */
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.ToCText{
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
    text-decoration-style: dotted; /* 下線のスタイルを点線（ドット）に変更 */
    text-decoration-thickness: 1px; /* 下線の太さを2ピクセルに変更 */
    text-underline-offset: 3px;
}
.cardMokujiText{
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
    text-decoration-style: dotted; /* 下線のスタイルを点線（ドット）に変更 */
    text-decoration-thickness: 1px; /* 下線の太さを2ピクセルに変更 */
    text-underline-offset: 3px;
}
/* もくじに戻るボタン制御 */
#topButton{
    position: fixed;
    bottom: 20px;
    right: 20px;

    padding: 10px 15px;

    font-size: 16px;

    border: none;
    border-radius: 10px;

    background-color: #333;
    color: white;

    cursor: pointer;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s;
}
#topButton:hover {
    opacity: 0.8;
}
#topButton.show {
    opacity: 1;
    visibility: visible;
}
.systemImg{
    width: 570px;
    height: 400px;
}

/* アイアンクラッドの画像調整 */
.cradImg{
    width: 1136;
    height: 288;
    margin-bottom: 20px;
}
.borderPoint{
    border: solid 2px;
    border-color: blue;
    border-radius: 5px;
    width: 1136px;
    margin-bottom: 20px;
}
.pointHead{
    border-left: solid 5px;
    border-color:dodgerblue;
    background-color: aquamarine;
    border-radius: 5px;
    width: 100px;
    position: relative;
    bottom: 15px;
    margin-left: 5px;
}

.buttonArea{
    text-align: center;
}
.cradButton{
    width: 200px;
    height: 40px;
    background-color: lightgreen;
    display: inline-block;
    position: relative;
    top: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.cradButton:hover{
    background-color:rgb(91, 151, 91);
    transition: 0.3s;
}

.fcdHeader{
    margin-bottom: 20px;
}

.commonTitle{
    margin-bottom: 20px;
}

.cardSize img{
    width: 150px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.cardSize img:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
    
    filter: drop-shadow(0 0 10px rgb(0, 128, 128));
}
.cardSize{
    display: flex;
    margin-left: 30px;
    margin-bottom: 20px;
    gap: 80px;
    align-items: flex-start;
    /* スマホで見たときに自動改行を行う */
    flex-wrap: wrap;
    
}

.cardButton{
    width: 200px;
    height: 40px;
    background-color: lightgreen;
    display: inline-block;
    position: relative;
    top: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.cardButton:hover{
    background-color:rgb(91, 151, 91);
    transition: 0.3s;
}
.lead{
    margin-bottom: 20px;
}
.commonHeader{
    border-left: solid 5px;
    border-color:dodgerblue;
    background-color: grey;
    border-radius: 5px;
    width: 160px;
    position: relative;
    bottom: 15px;
    margin-left: 5px;
}
.uncommonHeader{
    border-left: solid 5px;
    border-color:dodgerblue;
    background-color:rgb(123, 218, 255);
    border-radius: 5px;
    width: 200px;
    position: relative;
    bottom: 15px;
    margin-left: 5px;
}
.rareHeader{
    border-left: solid 5px;
    border-color:dodgerblue;
    background-color: rgb(255, 228, 75);
    border-radius: 5px;
    width: 145px;
    position: relative;
    bottom: 15px;
    margin-left: 5px;
}
.cradCommonCardTag{
    display: flex;
    gap: 10px;
    
}
.tag{
    display: inline-block;
    border: solid 1px grey;
    border-color: #1e96c2;
    background-color:#99e4ff;
    border-radius: 10px;
    padding: 1px 10px;
    position: relative;
    bottom: 10px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);;
}

.debuff{
    color: purple;
    background-color:#99e4ff;
}
.synergy{
    color:  rgb(190, 190, 0);
    background-color:#99e4ff;
}
.beginner{
    color:  rgb(39, 255, 104);
    background-color:#99e4ff;
}
.attack{
    color:  rgb(138, 0, 0);
    background-color:#99e4ff;
}
.aoe{
    color:  rgb(148, 148, 148);
    background-color:#99e4ff;
}
.droww{
    color:  rgb(0, 161, 27);
    background-color:#99e4ff;
}
.pick{
    color:  rgb(255, 144, 231);
    background-color:#99e4ff;
}
.buff{
    color:  rgb(255, 0, 0);
    background-color:#99e4ff;
}

.youganTag{
    margin-left: 10px;
}
.miburuiTag{
    margin-left: 25px;
}
.thunderClapTag{
    margin-left: 30px;
}
.pfstTag{
    margin-left: 35px;
}
.buttletranceTag{
    margin-left: 10px;
}
.cradUncommonCardTag{
    display: flex;
    gap: 10px;
}
.cradRareCardTag{
    display: flex;
    gap: 10px;
}

